langchain==0.3.30
langchain-community==0.3.31
langchain-core==0.3.86
langchain-google-genai==2.1.12
langchain-openai==0.3.35
langchain-pinecone==0.2.13
langchain-text-splitters==0.3.11
langchain-upstage==0.7.4
langsmith==0.4.37
python-dotenv==1.2.1
streamlit==1.50.0
